.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 15px;
    column-gap: 15px;


}
.day-number, .day{
    background-color: aqua;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 7px;
}
.day{
    background-color: antiquewhite;
}